//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=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
@drezzycode:registry=https://npm.pkg.github.com/
